services:
  db:
    image: postgres:16
    container_name: db
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
      POSTGRES_DB: app_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
#  redis:
#    image: redis:8.4.0-alpine
#    restart: always
#    ports:
#      - "6379:6379"
#    volumes:
#      - redis_data:/data

volumes:
  postgres_data:
#  redis_data:
#    driver: local